import(shiny, scales, grid, gridExtra, ggplot2, reshape2, YourCast, abind)

export(gridcast, weightcast, forecast)

S3method(print, gridcast)
S3method(print, weightcast)
S3method(print, forecast)
S3method(plot, forecast)